# Python Sololearn

### TODO (Intro):

- It's for the practice...okay

In [1]:
print("hello world")

hello world

In [5]:
# 2+2 addition
# 2-2 subtraction
# 2/2 division (type = "float")
# 2//2 multiply (type = "integer")
# 2//2 quotient (type = "integer")
# 2%2 remainder (type = "integer")
# 2**2 exponential (type = "integer")

In [8]:
# "This is string" 
# \ allow the next element to be a part of string (usefull to print quotes)
# \n - new line,  \t- to add tab space
# """ to print
#  a multi line text """
print("\' Know your enemy know yourself and you wll not be defeated in a 100 battles \' \n \t- Suntzu ")

' Know your enemy know yourself and you wll not be defeated in a 100 battles '
 	- Suntzu

In [ ]:
# int() ----> to convert string to integer
# str() ----> to convert integer to string
# float()

### Input

- To take normal input n store in variable

In [9]:
x = input() 
print(x)

q
q

- to obltain list from a string of numbers 
ex: "1 2 3 4 5 6 7 8 9"

    and conver them into integer at the same time

In [12]:
y = list(map(int,input().split()))
print(y)

1 2 3 4 5 6 7 8 9
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
# x+=3 ===> x=x+3
# x=+3 ===> x=x+3

### boolean logic:
   - 1==1 and 2==2
   - 1==1 or 2==2
   - not 1==1

In [16]:
print(1==1 and 2==2)
print(1==1 or 1==2)
print(not 1==1)

True
True
False

### Else-if

In [17]:
num = 3
if num == 1:
    print("one")
elif num == 3:
    print("three")
else:
    print(num )

three

### List

In [18]:
# 23.1 lesson